@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
  --darkemail: hsl(217, 28%, 15%);
  --darkbackground: hsl(218, 28%, 13%);
  --darkfooter: hsl(216, 53%, 9%);
  --darktestimonials: hsl(219, 30%, 18%);
  --cyan: #65e2d9;
  --blue: #339ecc;
  --red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  font-weight: 400;
  color: var(--white);
  background-color: var(--darkbackground);
  height: 100vh;
}

img {
  width: 200px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.6rem;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
}

button {
  background: linear-gradient(90deg, rgba(101, 226, 217, 1) 0%, rgba(51, 158, 204, 1) 100%);
  width: 300px;
  height: 60px;
  color: var(--white);
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.6rem;
}

button:hover {
  background: var(--cyan);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 25px;
  margin-bottom: 100px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 100px;
  margin-bottom: 100px;
}

.features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  gap: 15px;
}

.features img {
  width: 100%;
}

.learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 85%;
  gap: 20px;
  margin-bottom: 100px;
}

.learn-more__image img {
  width: 300px;
}

.learn-more__title {
  align-self: flex-start;
}

.learn-more__text {
  align-self: flex-start;
}

.learn-more__icon a {
  color: var(--cyan);
  align-self: flex-start;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.learn-more__icon a:hover {
  color: var(--white);
  border-bottom: 1px solid white;
}

.learn-more__icon {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.learn-more__icon img {
  height: 15px;
  width: 15px;
}

.review {
  background-image: url(./images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}

.review__comment {
  background-color: var(--darktestimonials);
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.comment__text {
  font-size: 1.2rem;
  width: 90%;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

.comment__photo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.comment__photo span {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.comment__photo img {
  width: 30px;
  border-radius: 50%;
}

.comment__photo p {
  font-size: 1.2rem;
  text-align: left;
}

.suscribe {
  background-color: var(--darkemail);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

.suscribe__title {
  margin-top: 40px;
}

.suscribe__email {
  height: 60px;
  width: 300px;
  border-radius: 50px;
  padding-left: 20px;
}

.suscribe__button {
  margin-bottom: 40px;
}
