@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
  --darkemail: hsl(217, 28%, 15%);
  --darkbackground: hsl(218, 28%, 13%);
  --darkfooter: hsl(216, 53%, 9%);
  --darktestimonials: hsl(219, 30%, 18%);
  --cyan: #65e2d9;
  --blue: #339ecc;
  --red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  font-weight: 400;
  color: var(--white);
  background-color: var(--darkbackground);
  height: 100vh;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.6rem;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
}

button {
  background: linear-gradient(90deg, rgba(101, 226, 217, 1) 0%, rgba(51, 158, 204, 1) 100%);
  width: 320px;
  height: 60px;
  color: var(--white);
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.6rem;
  border: 0;
}

button:hover {
  background: var(--cyan);
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: var(--darkemail);
  background-size: cover;
}

.header__logo img {
  width: 150px;
}

.header__menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: 'Open-Sans', sans-serif;
}

.header__menu li:hover {
  border-bottom: 1px solid var(--white);
  text-shadow: 0 0 white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
  background-color: var(--darkemail);
  background-image: url(./images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main img {
  max-width: 90%;
}

.main__title {
  width: 80%;
}

.main__text {
  width: 80%;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 100px;
}

.features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  gap: 15px;
}

.features img {
  width: 100%;
}

.learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 85%;
  gap: 20px;
}

.learn-more__image img {
  width: 300px;
}

.learn-more__title {
  align-self: flex-start;
}

.learn-more__text {
  align-self: flex-start;
}

.learn-more__text2 {
  align-self: flex-start;
}

.learn-more__icon a {
  color: var(--cyan);
  align-self: flex-start;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.learn-more__icon:hover a {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.learn-more__icon:hover use {
  fill: var(--white);
}

.learn-more__icon {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.learn-more__icon img {
  height: 15px;
  width: 15px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.review::before {
  content: url(./images/bg-quotes.png);
  display: block;
  position: relative;
  top: 37px;
  right: 120px;
  transform: scale(0.5);
}

.review__comment {
  background-color: var(--darktestimonials);
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.comment__text {
  font-size: 1.2rem;
  width: 90%;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

.comment__photo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.comment__photo span {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.comment__photo img {
  width: 30px;
  border-radius: 50%;
}

.comment__photo p {
  font-size: 1.2rem;
  text-align: left;
}

.suscribe {
  background-color: var(--darkemail);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  position: relative;
  top: -30px;
  margin-bottom: -250px;
}

.suscribe__title {
  margin-top: 40px;
}

.suscribe__email {
  height: 60px;
  width: 300px;
  border-radius: 50px;
  padding-left: 20px;
  border: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.suscribe__email:focus {
  outline: 0;
}

.suscribe__button {
  margin-bottom: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  background-color: var(--darkfooter);
}

.footer__logo {
  margin-top: 300px;
}

.footer__location ul {
  display: inline-block;
  padding: 1rem 2rem;
  max-width: 320px;
}

.footer__location ul {
  list-style: none;
  text-align: left;
}

.footer__location ul > li {
  clear: left;
  padding: 0.5rem 0;
}

.footer__location ul > li:before {
  content: '';
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  margin-left: -1.5rem;
}

.mr20 {
  margin-left: 20px;
}

.footer__location ul > :nth-child(1):before {
  background: url('./images/icon-location.svg');
  background-repeat: no-repeat;
}

.footer__location ul > :nth-child(2):before {
  background: url('./images/icon-phone.svg');
  background-repeat: no-repeat;
  margin-right: 20px;
}

.footer__location ul > :nth-child(3):before {
  background: url('./images/icon-email.svg');
  background-repeat: no-repeat;
  margin-right: 20px;
}

.footer__navigation {
  align-self: flex-start;
  margin-left: 40px;
}

.footer__navigation ul {
  list-style: none;
}

.footer__navigation li:hover {
  cursor: pointer;
  font-weight: 700;
}

.footer__navigation li {
  text-align: left;
}

.navigation__about-us {
  margin-bottom: 20px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.social i {
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
}

i.fab {
  border-radius: 50%;
  border: 1px solid var(--white);
  padding: 0.5em 0.6em;
}

i.fab:hover {
  color: var(--cyan);
  border-color: var(--cyan);
}

@media screen and (min-width: 900px) {
  .main {
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main__title {
    width: 50%;
  }

  .main__text {
    width: 50%;
  }

  .header__title {
    max-width: 50%;
  }
  .header__text {
    max-width: 40%;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 40px;
    width: 80%;
    align-content: center;
    justify-items: center;
    align-items: center;
  }

  .features div {
    width: 70%;
  }

  .learn-more {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      'image title'
      'image text'
      'image text2'
      'image button';
  }

  .learn-more__text {
    grid-area: 'text';
  }

  .learn-more__text2 {
    grid-area: 'text2';
  }

  .learn-more__title {
    text-align: left;
    width: 40%;
    grid-area: 'title';
  }

  .learn-more__icon {
    grid-area: 'button';
  }

  .learn-more__image {
    grid-area: image;
    justify-self: center;
  }

  .learn-more img {
    width: 500px;
  }

  .review {
    flex-direction: row;
    width: 75%;
    margin-bottom: 100px;
  }

  .review::before {
    top: -105px;
    right: -65px;
    transform: scale(1);
    z-index: -1;
  }
  .suscribe {
    top: -125px;
  }
  .buttons {
    flex-direction: row;
  }

  .suscribe__text {
    width: 45%;
  }

  .suscribe__email {
    width: 500px;
    margin-bottom: 40px;
  }

  .footer {
    align-items: flex-start;
  }

  .footer__logo {
    margin-left: 100px;
  }

  .footer__navigation {
    display: flex;
    gap: 100px;
  }

  .footer__navigation li {
    padding-bottom: 10px;
  }

  .footer__contact {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 50px;
    justify-content: space-between;
    width: 88%;
  }

  .social {
    align-items: flex-start;
  }
}
